.news {
  html,
  body,
  div,
  h2,
  h3,
  p,
  a,
  ul,
  li,
  header,
  section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  header,
  section {
    display: block;
  }

  body {
    line-height: 1;
  }

  ul {
    list-style: none;
  }

  body {
    -webkit-text-size-adjust: none;
  }

  html {
    box-sizing: border-box;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  body {
    background: #252122;
  }

  body {
    font-family: "Source Sans Pro";
    font-weight: 300;
    color: #5d5d5d;
    font-size: 14pt;
    line-height: 1.75em;
  }

  strong {
    color: #252122;
    font-weight: 400;
  }

  h2,
  h3 {
    color: #252122;
    font-weight: 700;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.35em;
  }

  a {
    text-decoration: none;
  }

  p,
  ul {
    margin-bottom: 2em;
  }

  /* Container */

  .container {
    margin: 0 auto;
    max-width: 100%;
    width: 70em;
  }

  @media screen and (max-width: 1680px) {
    .container {
      width: 70em;
    }
  }

  @media screen and (max-width: 1280px) {
    .container {
      width: calc(100% - 60px);
    }
  }

  @media screen and (max-width: 980px) {
    .container {
      width: calc(100% - 80px);
    }
  }

  @media screen and (max-width: 736px) {
    .container {
      width: calc(100% - 40px);
    }
  }

  /* Row */

  .row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: stretch;
  }

  .row > * {
    box-sizing: border-box;
  }

  .row > .col-8 {
    width: 66.66667%;
  }

  .row {
    margin-top: -50px;
    margin-left: -50px;
  }

  .row > * {
    padding: 50px 0 0 50px;
  }

  .row {
    margin-top: -50px;
    margin-left: -50px;
  }

  .row > * {
    padding: 50px 0 0 50px;
  }

  @media screen and (max-width: 1280px) {
    .row {
      display: flex;
      flex-wrap: wrap;
      box-sizing: border-box;
      align-items: stretch;
    }

    .row > * {
      box-sizing: border-box;
    }
  }

  @media screen and (max-width: 980px) {
    .row {
      display: flex;
      flex-wrap: wrap;
      box-sizing: border-box;
      align-items: stretch;
    }

    .row > * {
      box-sizing: border-box;
    }

    .row > .col-12-medium {
      width: 100%;
    }
  }

  @media screen and (max-width: 736px) {
    .row {
      display: flex;
      flex-wrap: wrap;
      box-sizing: border-box;
      align-items: stretch;
    }

    .row > * {
      box-sizing: border-box;
    }
  }

  section {
    margin-bottom: 2.5em;
  }

  section > :last-child,
  section:last-child {
    margin-bottom: 0;
  }

  header {
    margin: 0 0 1.5em 0;
  }

  ul {
    list-style: disc;
    padding-left: 1em;
  }

  ul li {
    padding-left: 0.5em;
  }

  ul.dates {
    list-style: none;
    padding-left: 0;
  }

  ul.dates li {
    position: relative;
    border-top: solid 1px #ddd;
    padding: 1.3em 0 1.3em 6.75em;
  }

  ul.dates .date {
    display: block;
    position: absolute;
    left: 0;
    top: 1.3em;
    background-color: #d52349;
    height: 3.5em;
    text-align: center;
    color: #fff;
    line-height: 1em;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 0.5em 0.75em 0 1em;
  }

  ul.dates .date:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -1.2em;
    border-left: solid 1.25em #d52349;
    border-top: solid 1.8em transparent;
    border-bottom: solid 1.8em transparent;
  }

  ul.dates .date strong {
    display: block;
    font-size: 1.75em;
    padding-top: 0.15em;
  }

  ul.dates h3 {
    font-size: 1.1em;
  }

  ul.dates p {
    margin: 0;
  }

  ul.dates li:first-child {
    border-top: 0;
    padding-top: 0;
  }

  ul.dates li:first-child .date {
    top: 0;
  }

  #page-wrapper > section {
    margin-bottom: 0;
  }

  #footer {
    position: relative;
    color: #858484;
    padding: 4em 0;
  }

  #footer:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: url("/images/bg01.png");
    background-size: 100% 100%;
    z-index: 0;
    opacity: 0.5;
  }

  #footer a {
    color: #c5c4c4;
  }

  #footer h2,
  #footer h3,
  #footer strong,
  #footer b {
    color: #fff;
  }

  #footer h2 a,
  #footer h3 a,
  #footer strong a,
  #footer b a {
    color: inherit;
  }

  #footer ul.contact li,
  #footer ul.dates li,
  #footer ul.divided li {
    border-top-color: #353434;
    border-top-color: rgba(255, 255, 255, 0.05);
  }

  #footer header {
    margin: 0 0 3em 0;
  }

  #footer header h2 {
    font-size: 1.75em;
  }

  @media screen and (max-width: 1680px) {
    body {
      font-size: 12pt;
    }
  }

  @media screen and (max-width: 1280px) {
    /* Basic */

    body {
      font-size: 11pt;
    }

    #footer {
      padding: 3em 0;
    }

    #footer:before {
      height: 2.5em;
    }

    #footer header {
      margin: 0 0 1.5em 0;
    }

    #footer header h2 {
      font-size: 1.25em;
    }
  }

  @media screen and (max-width: 980px) {
    html,
    body {
      overflow-x: hidden;
    }

    #page-wrapper {
      -moz-backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      backface-visibility: hidden;
      -moz-transition: -moz-transform 0.5s ease;
      -webkit-transition: -webkit-transform 0.5s ease;
      -ms-transition: -ms-transform 0.5s ease;
      transition: transform 0.5s ease;
      padding-bottom: 1px;
    }
  }

  @media screen and (max-width: 736px) {
    body {
      font-size: 11pt;
    }

    h2,
    h3 {
      font-size: 1.25em;
    }

    section {
      margin-bottom: 20px;
    }

    header {
      margin: 0 0 1em 0;
    }

    footer {
      margin: 2em 0 0 0;
    }

    #footer {
      padding: 40px 0 20px 0;
    }
  }
}
